pkgbase = procquarium
	pkgdesc = Your running processes, as fish
	pkgver = 0.3.1
	pkgrel = 1
	url = https://github.com/ImanolGo/procquarium
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = rust
	depends = gcc-libs
	source = procquarium-0.3.1.tar.gz::https://github.com/ImanolGo/procquarium/archive/refs/tags/v0.3.1.tar.gz
	sha256sums = bfc500b40e188ae9d050f94257f25da324ba8586f115091676e98aec50106897

pkgname = procquarium
