pkgbase = procquarium
	pkgdesc = Your running processes, as fish
	pkgver = 0.2.1
	pkgrel = 1
	url = https://github.com/ImanolGo/procquarium
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = rust
	depends = gcc-libs
	source = procquarium-0.2.1.tar.gz::https://github.com/ImanolGo/procquarium/archive/refs/tags/v0.2.1.tar.gz
	sha256sums = c41892c446cbc394a1017a09c21c97741c319f0cef14581fbbfd61a65df8cbd0

pkgname = procquarium
